<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AthleticPerformance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01C719582DF36ECA00C5B4FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C719652DF36ECB00C5B4FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C7196F2DF36ECB00C5B4FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
